<template>
    <div class="container mx-auto py-16 text-center items-center">
        <div class="text-4xl font-bold text-center mb-12">
            <h1 class="leading-tight title pt-12">Page Not Found</h1>
        </div>
      <g-image src="../assets/img/SVG/404.svg" alt="404 page not foud" class="img404 text-center items-center mx-auto mb-10"/>
      <router-link class="btn-secundary flex-2 text-center w-40 rounded-full text-lg py-3 px-8  z-10 w-full sm:w-auto mt-4 sm:mt-0 sm:text-center focus:outline-none lg:ml-4 sm:ml-0" to="/">Go to my Home Page</router-link>
    </div>
</template>

<script>
export default {
  metaInfo: {
    title: 'Page Not Found'
  }
}
</script>

<style>
    .title {
        color: #1c77df;
    }

    .img404 {
        width: 40%;
        @media (max-width: 467px){
            width: 100%;
        }
    }
</style>