<template>
  <Layout>
    <About />
    <Skills />
    <Services />
    <Hire />
    <Projects />
    <Contact />

  </Layout>
</template>

<script>
import About from '../components/About'
import Services from '../components/Services'
import Skills from '../components/Skills'
import Hire from '../components/HireMe'
import Projects from '../components/Projects'
import Contact from '../components/Contact'

export default {
  metaInfo: {
    title: 'Hello, world!'
  },
  components: {
    About,
    Services,
    Skills,
    Hire,
    Projects,
    Contact,
  }
}
</script>

<style>
.home-links a {
  margin-right: 1rem;
}
</style>
