<template>
    <div id="about" class="xl:px-64 lg:px-40 md:px-40 px-10 py-16 min-h-screen">
        <div class="text-4xl font-bold text-center mb-10">
            <h1 class="leading-tight title pt-12">About Me</h1>
        </div>
        <div class="grid lg:grid-cols-2 sm:grid-cols-1 gap-4">
          <div class="col-1">
            <p class="mb-8">I'm a Developer with emphasis on Web and Graphic Design Student. I consider that I have the ability to adapt to changes and learn quickly through practice. In addition to that, I like to fulfill the assigned tasks with dedication and responsibility, as long as they are within my reach, otherwise, I try to take on the challenges.</p>
            <div class="text-2xl font-bold mb-4 title">Education</div>
            <p><b>Graphic Design</b> at the Institución Universitaria <a href="http://www.itsa.edu.co/" target="_blank" rel="noopener noreferrer"><strong>ITSA</strong></a></p>
            <p>Barranquilla, Atlántico - Colombia <b>(2018)</b></p><br>
            <p><b>Software Development</b> at the Corporación Universitaria Empresarial de Salamanca <a href="https://www.cues.edu.co/" target="_blank" rel="noopener noreferrer"><strong>CUES</strong></a></p>
            <p>Barranquilla, Atlántico - Colombia <b>(2013 - 2016)</b></p><br>
          </div>
          <div class="col-1">
          <div class="absolute" style="transform: rotate(180deg); right: 15em; top: 12em;">
            <svg fill="#fff" class="dots-svg" width="170px" height="170px"><use xlink:href="#dots-triangle" /></svg>
          </div>
            <g-image src="../assets/img/pp.png" alt="jesus" class="mx-auto mb-2" />
            <div class="text-2xl mb-2 text-center">Jesús Salcedo</div>
            <!--<div class="text-1xl font-bold mb-2 text-center">Software Developer</div>-->
            <div class="text-1xl mb-2 text-center">Barranquilla - Colombia</div>
          </div>
          <div class="col-1">
            <div class="text-2xl font-bold mb-4 title">Languages</div>
            <div class="grid lg:grid-cols-6 sm:grid-cols-1">
              <div class="font-bold mb-4 col-3">Spanish <p class="font-light">Native</p></div>
              <div class="font-bold mb-4 col-3">English <p class="font-light">B2</p></div>
            </div>
          </div>

          <div class="col-1 text-center mt-8">
          <a href="/resume.pdf" target="_blank" rel="noopener noreferrer" aria-label="Download Resume" class="btn-secundary flex-2 text-center w-40 rounded-full text-lg py-3 px-8  z-10 w-full sm:w-auto mt-4 sm:mt-0 sm:text-center focus:outline-none lg:ml-4 sm:ml-0">
                <span class="text-center">Download Resume</span>
              </a>
          </div>
        </div>
    </div>
</template>