<template>
    <div id="contact" class="container py-16 min-h-screen">
        <div class="text-4xl font-bold text-center mb-4">
            <h1 class="leading-tight title pt-12">Contact Me</h1>
        </div>
        <div class="text-center mb-10">
            <p class="text-center">Please if you have any questions or requests, leave me a message. I'll gladly answer you.</p>
        </div>
        <div class="grid lg:grid-cols-2 sm:grid-cols-1 gap-10">
            <div class="col-1">
                <form class="w-full max-w-lg" @submit.prevent="sendEmail">
                    <div class="flex flex-wrap -mx-3 mb-6">
                        <div class="w-full px-3">
                            <label class="block tracking-wide text-1xl mb-2" for="user_name">Name</label>
                            <input class="appearance-none block w-full py-3 px-4 mb-3 leading-tight focus:outline-none form-control" type="text" name="user_name" id="user_name">
                        </div>
                        <div class="w-full px-3">
                            <label class="block tracking-wide text-1xl mb-2" for="contact_number">Contact Number</label>
                            <input class="appearance-none block w-full py-3 px-4 mb-3 leading-tight focus:outline-none form-control" type="text" name="contact_number" id="contact_number">
                        </div>
                        <div class="w-full px-3">
                            <label class="block tracking-wide text-1xl mb-2" for="user_email">Email</label>
                            <input class="appearance-none block w-full py-3 px-4 mb-3 leading-tight focus:outline-none form-control" type="email" name="user_email" id="user_email">
                        </div>
                        <div class="w-full px-3">
                            <label class="block tracking-wide text-1xl mb-2" for="message">Message</label>
                            <textarea class="appearance-none block w-full py-4 px-4 mb-3 leading-tight focus:outline-none form-control" name="message" id="message" />
                        </div>
                        <div class="w-full px-3 sm:text-center lg:text-left md:text-center">
                            <label id="c-log" class="font-bold" name="notification">Hola</label>
                        </div>
                        <div class="w-full px-3 pt-6">
                            <button class="btn-blue flex-2 text-center w-40  rounded-full text-lg py-3 px-8  z-10 w-full sm:w-auto mt-4 sm:mt-0 sm:text-center focus:outline-none sm:ml-0" type="submit" value="Send">
                                <span class="text-center">Send Message</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-1">
                <g-image id="contact-img" src="../assets/img/SVG/email.svg" alt="Contact"></g-image>
            </div>
        </div>
            
            
    </div>
</template>

<script>
import emailjs from 'emailjs-com';
export default {
  methods: {
    sendEmail: (e) => {
      var label = document.getElementById('c-log');
      emailjs.sendForm('gmail', 'template_iUR6J6Kd', e.target, 'user_IdgXfh5tY6Rbc3YIFYS6y')
        .then((result) => {
            label.innerHTML = 'Your message has reached me successfully!', result.status, result.text;
            label.style.display = "inherit";
            //console.log('SUCCESS!', result.status, result.text);
        }, (error) => {
            label.innerHTML = 'Ups!', error;
            label.style.display = "inherit";
            label.style.color = "red";
            //console.log('FAILED...', error);
        });
    }
  }
}
</script>

<style>
#contact-img {
    width: 80%;
    height: auto;
}

#c-log {
    color: #1eb10a;
    display: none;
}

</style>