<template>
    <div id="hero" class="max-h-screen">
        <g-image id="hero-img" alt="hero" src="../assets/img/SVG/bg.svg" />
        <div class="grid lg:grid-cols-2 sm:grid-cols-1 container pt-40">
            <div class="col-1">
                <div class="lg:text-6xl text-5xl font-bold text-left mb-8">
                    <div class="leading-tight title pt-10">I'm a Creative Developer</div>
                </div>
                <vue-typed-js class="pb-8 h-10" :showCursor="false" :loop="true" :strings="['<b>var</b> myString = \'Hello there\';', 'console.log(myString);']">
                    <p class="typing code-text"></p>
                </vue-typed-js>
                <p class="lg:pr-32 sm:pr-0 pb-8">I love developing custom websites, I feel like everyone has a story to tell. Let's build your optimal, reliable website that adapts to any device.</p>
                <button v-scroll-to="'#projects'" class="btn-orange flex-2 text-center w-40  rounded-full text-lg py-3 px-8  z-10 w-full sm:w-auto mt-4 sm:mt-0 sm:text-center focus:outline-none sm:ml-0">
                    <span class="text-center">My Work</span>
                </button>
            </div>
            <div class="col-1">
                <g-image class="hero-svg" alt="development" src="../assets/img/SVG/wd.svg" />
            </div>
            <div class="col-span-2 text-center pt-32">
                <a v-if="$route.path === '/'" href="/#about" v-scroll-to="'#about'" aria-label="Go to about">
                    <svg id="scrollA" class="w-full" height="50px" width="50px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"/></svg>
                </a>
            </div>
        </div>
    </div>

</template>

<script>
export default {
    mounted() {
        
        var myString = "Hello there";
        console.log("You're curious :)");
        console.log(myString);
    }
}
</script>>

<style>
#scrollA {
    fill: #d4d4d4;
}
#scrollA:hover {
    fill: #cccccc;
}

#hero-img {
    position: absolute;
    width: 55%;
    height: auto;
    right: 0;
    z-index: 100;
}

#hero {
    z-index: 2;
}

.theme-light #hero {
    background-color: #fff;
}

.theme-dark #hero {
    background-color: #333333;
}

.hero-svg {
    position: absolute;
    z-index: 100;
    width: 28%;
    right: 10em;
    top: 10em;
}

.code-text {
    font-family: Consolas, monospace;
    font-size: 18px;
}


@media (max-width: 467px){
    #scrollA {
        display: none;
    }

    #hero-img {
        width: 40%;
    }

    .hero-svg {
        display: none;
    }
}

</style>