<template>
    <section class="s2 py-10 lg:px-10 sm:px-0">
    <div class="container grid lg:grid-cols-2 gap-5 sm:grid-cols-1">
                <div class="col-1 text-center">
                    <g-image src="../assets/img/SVG/contact.svg" id="h-image" alt="hire" /> 
                </div>
                <div class="col-1 text-white">
                    <div class="text-4xl font-bold mb-2 pt-4">
                        <div class="leading-tight">Do you have something in mind?</div>
                    </div>
                    <p class="text-2xl mb-8">Contact me and let me know your ideas, let's quote and make your ideal website together.</p>
                    <button v-scroll-to="'#contact'" data-element="submit" class="btn-orange flex-2 text-center w-60 rounded-full text-lg py-3 px-8  z-10 w-full sm:w-auto mt-4 sm:mt-0 sm:text-center focus:outline-none">
                        <span class="text-center">Hire me</span>
                    </button>
                </div>

            </div>
    
    </section>
</template>

<style>
#h-image {
    width: 60%;
}

</style>>