<template>
    <div id="projects" class="container py-16 min-h-screen">
        <div class="text-4xl font-bold text-center mb-2">
            <h1 class="leading-tight title pt-12 pb-12">Projects</h1>
        </div>

        <div class="grid lg:grid-cols-4 sm:grid-cols-1 gap-20 text-center">


          <div class="col-1 projects shadow-mt rounded-lg">
            <div class="text-center">
              <g-image src="../assets/img/Projects/diga.jpg" alt="ecommerce" class="projects-img text-center mx-auto"/>
            </div>
            <div class="projects-content shadow-mt p-4">
                <div class="text-1xl text-center mx-auto mb-4">Digama Ecommerce</div>
                <div class="projects-links text-center">
                    <a class="btn-link" href="https://dribbble.com/shots/11989859-Digama-Ecommerce" rel="noopener noreferrer" target="_blank" aria-label="Dribbble">
                        <svg fill="#fff" width="20px" height="20px"><use xlink:href="#dribble" /></svg>
                    </a>
                
                </div>
            </div>
          </div>

          <div class="col-1 projects shadow-mt rounded-lg">
            <div class="text-center">
              <g-image src="../assets/img/Projects/finder.jpg" alt="mobile" class="projects-img text-center mx-auto"/>
            </div>
            <div class="projects-content shadow-mt p-4">
                <div class="text-1xl text-center mx-auto mb-4">Liquor Finder</div>
                <div class="projects-links text-center">
                    <a class="btn-link" href="https://dribbble.com/shots/11906435-Liquor-Finder" rel="noopener noreferrer" target="_blank" aria-label="Dribbble">
                        <svg fill="#fff" width="20px" height="20px"><use xlink:href="#dribble" /></svg>
                    </a>
                
                </div>
            </div>
          </div>

          <div class="col-1 projects shadow-mt rounded-lg">
            <div class="text-center">
              <g-image src="../assets/img/Projects/eclipse.jpg" alt="web" class="projects-img text-center mx-auto"/>
            </div>
            <div class="projects-content shadow-mt p-4">
                <div class="text-1xl text-center mx-auto mb-4">Eclipse Portfolio</div>
                <div class="projects-links text-center">
                    <a class="btn-link" href="https://jesussg.gitlab.io/eclipse/" rel="noopener noreferrer" target="_blank" aria-label="Website">
                        <svg fill="#fff" width="20px" height="20px"><use xlink:href="#link" /></svg>
                    </a>
                    <a class="btn-link" href="https://gitlab.com/jesussg/eclipse/" rel="noopener noreferrer" target="_blank" aria-label="Repository">
                        <svg fill="#fff" width="20px" height="20px"><use xlink:href="#gitlab" /></svg>
                    </a>
                
                </div>
            </div>
          </div>

          <div class="col-1 projects shadow-mt rounded-lg">
            <div class="text-center">
              <g-image src="../assets/img/Projects/aelo.jpg" alt="web" class="projects-img text-center mx-auto"/>
            </div>
            <div class="projects-content shadow-mt p-4">
                <div class="text-1xl text-center mx-auto mb-4">Aelo Agency</div>
                <div class="projects-links text-center">
                    <a class="btn-link" href="https://www.behance.net/gallery/93098835/Aelo-Company" rel="noopener noreferrer" target="_blank" aria-label="Behance">
                        <svg fill="#fff" width="20px" height="20px"><use xlink:href="#behance" /></svg>
                    </a>
                
                </div>
            </div>
          </div>

          <div class="col-1 projects shadow-mt rounded-lg">
            <div class="text-center">
              <g-image src="../assets/img/Projects/notas.jpg" alt="web" class="projects-img text-center mx-auto"/>
            </div>
            <div class="projects-content shadow-mt p-4">
                <div class="text-1xl text-center mx-auto mb-4">Campus App</div>
                <div class="projects-links text-center">
                    <a class="btn-link" href="https://www.behance.net/gallery/95077743/Campus-app" rel="noopener noreferrer" target="_blank" aria-label="Behance">
                        <svg fill="#fff" width="20px" height="20px"><use xlink:href="#behance" /></svg>
                    </a>
                
                </div>
            </div>
          </div>

          <div class="col-1 projects shadow-mt rounded-lg">
            <div class="text-center">
              <g-image src="../assets/img/Projects/librarymg.jpg" alt="software" class="projects-img text-center mx-auto"/>
            </div>
            <div class="projects-content shadow-mt p-4">
                <div class="text-1xl text-center mx-auto mb-4">Library MG</div>
                <div class="projects-links text-center">
                    <a class="btn-link" href="https://gitlab.com/jesusSG/librarymg" rel="noopener noreferrer" target="_blank" aria-label="Repository">
                        <svg fill="#fff" width="20px" height="20px"><use xlink:href="#gitlab" /></svg>
                    </a>
                
                </div>
            </div>
          </div>

          <div class="col-1 projects shadow-mt rounded-lg">
            <div class="text-center">
              <g-image src="../assets/img/Projects/notecalculator.jpg" alt="app" class="projects-img text-center mx-auto"/>
            </div>
            <div class="projects-content shadow-mt p-4">
                <div class="text-1xl text-center mx-auto mb-4">Note Calculator</div>
                <div class="projects-links text-center">
                    <a class="btn-link" href="https://jesussg.gitlab.io/noteCalculator/" rel="noopener noreferrer" target="_blank" aria-label="Website">
                        <svg fill="#fff" width="20px" height="20px"><use xlink:href="#link" /></svg>
                    </a>
                    <a class="btn-link" href="https://gitlab.com/jesussg/noteCalculator/" rel="noopener noreferrer" target="_blank" aria-label="Repository">
                        <svg fill="#fff" width="20px" height="20px"><use xlink:href="#gitlab" /></svg>
                    </a>
                
                </div>
            </div>
          </div>




          

        </div>

        <div class="hidden">
            <svg id="gitlab" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M105.2 24.9c-3.1-8.9-15.7-8.9-18.9 0L29.8 199.7h132c-.1 0-56.6-174.8-56.6-174.8zM.9 287.7c-2.6 8 .3 16.9 7.1 22l247.9 184-226.2-294zm160.8-88l94.3 294 94.3-294zm349.4 88l-28.8-88-226.3 294 247.9-184c6.9-5.1 9.7-14 7.2-22zM425.7 24.9c-3.1-8.9-15.7-8.9-18.9 0l-56.6 174.8h132z"/></svg>

            <svg id="behance" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M232 237.2c31.8-15.2 48.4-38.2 48.4-74 0-70.6-52.6-87.8-113.3-87.8H0v354.4h171.8c64.4 0 124.9-30.9 124.9-102.9 0-44.5-21.1-77.4-64.7-89.7zM77.9 135.9H151c28.1 0 53.4 7.9 53.4 40.5 0 30.1-19.7 42.2-47.5 42.2h-79v-82.7zm83.3 233.7H77.9V272h84.9c34.3 0 56 14.3 56 50.6 0 35.8-25.9 47-57.6 47zm358.5-240.7H376V94h143.7v34.9zM576 305.2c0-75.9-44.4-139.2-124.9-139.2-78.2 0-131.3 58.8-131.3 135.8 0 79.9 50.3 134.7 131.3 134.7 61.3 0 101-27.6 120.1-86.3H509c-6.7 21.9-34.3 33.5-55.7 33.5-41.3 0-63-24.2-63-65.3h185.1c.3-4.2.6-8.7.6-13.2zM390.4 274c2.3-33.7 24.7-54.8 58.5-54.8 35.4 0 53.2 20.8 56.2 54.8H390.4z"/></svg>

            <svg id="dribble" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 8C119.252 8 8 119.252 8 256s111.252 248 248 248 248-111.252 248-248S392.748 8 256 8zm163.97 114.366c29.503 36.046 47.369 81.957 47.835 131.955-6.984-1.477-77.018-15.682-147.502-6.818-5.752-14.041-11.181-26.393-18.617-41.614 78.321-31.977 113.818-77.482 118.284-83.523zM396.421 97.87c-3.81 5.427-35.697 48.286-111.021 76.519-34.712-63.776-73.185-116.168-79.04-124.008 67.176-16.193 137.966 1.27 190.061 47.489zm-230.48-33.25c5.585 7.659 43.438 60.116 78.537 122.509-99.087 26.313-186.36 25.934-195.834 25.809C62.38 147.205 106.678 92.573 165.941 64.62zM44.17 256.323c0-2.166.043-4.322.108-6.473 9.268.19 111.92 1.513 217.706-30.146 6.064 11.868 11.857 23.915 17.174 35.949-76.599 21.575-146.194 83.527-180.531 142.306C64.794 360.405 44.17 310.73 44.17 256.323zm81.807 167.113c22.127-45.233 82.178-103.622 167.579-132.756 29.74 77.283 42.039 142.053 45.189 160.638-68.112 29.013-150.015 21.053-212.768-27.882zm248.38 8.489c-2.171-12.886-13.446-74.897-41.152-151.033 66.38-10.626 124.7 6.768 131.947 9.055-9.442 58.941-43.273 109.844-90.795 141.978z"/></svg>
        
            <svg id="link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M326.612 185.391c59.747 59.809 58.927 155.698.36 214.59-.11.12-.24.25-.36.37l-67.2 67.2c-59.27 59.27-155.699 59.262-214.96 0-59.27-59.26-59.27-155.7 0-214.96l37.106-37.106c9.84-9.84 26.786-3.3 27.294 10.606.648 17.722 3.826 35.527 9.69 52.721 1.986 5.822.567 12.262-3.783 16.612l-13.087 13.087c-28.026 28.026-28.905 73.66-1.155 101.96 28.024 28.579 74.086 28.749 102.325.51l67.2-67.19c28.191-28.191 28.073-73.757 0-101.83-3.701-3.694-7.429-6.564-10.341-8.569a16.037 16.037 0 0 1-6.947-12.606c-.396-10.567 3.348-21.456 11.698-29.806l21.054-21.055c5.521-5.521 14.182-6.199 20.584-1.731a152.482 152.482 0 0 1 20.522 17.197zM467.547 44.449c-59.261-59.262-155.69-59.27-214.96 0l-67.2 67.2c-.12.12-.25.25-.36.37-58.566 58.892-59.387 154.781.36 214.59a152.454 152.454 0 0 0 20.521 17.196c6.402 4.468 15.064 3.789 20.584-1.731l21.054-21.055c8.35-8.35 12.094-19.239 11.698-29.806a16.037 16.037 0 0 0-6.947-12.606c-2.912-2.005-6.64-4.875-10.341-8.569-28.073-28.073-28.191-73.639 0-101.83l67.2-67.19c28.239-28.239 74.3-28.069 102.325.51 27.75 28.3 26.872 73.934-1.155 101.96l-13.087 13.087c-4.35 4.35-5.769 10.79-3.783 16.612 5.864 17.194 9.042 34.999 9.69 52.721.509 13.906 17.454 20.446 27.294 10.606l37.106-37.106c59.271-59.259 59.271-155.699.001-214.959z"/></svg>
        </div>
    </div>

</template>