<template>
    <div id="services" class="xl:px-64 lg:px-40 md:px-40 px-10 py-16 min-h-screen">
        <div class="text-4xl font-bold text-center mb-4">
            <h1 class="leading-tight title pt-12">Services</h1>
        </div>
        <div class="text-center mb-10">
            <p class="text-center">Presenting requirements and analyzing the case. I can turn your idea into a high quality project.</p>
        </div>
        <div class="grid lg:grid-cols-3 sm:grid-cols-1 gap-10 text-center">
          <div class="col-1 shadow-mt px-10 py-10 rounded-lg service">
            <div class="text-center">
              <g-image src="../assets/img/SVG/s1.svg" width="150" height="100" alt="development" class="services-img text-center mx-auto"/>
            </div>
            <div class="text-2xl font-bold mb-4 text-center subtitle mx-auto">Software Development</div>
            <p>Development of sites and web applications to suit you, transforming your idea into a practical and optimized result. Making use of the latest technologies and design trends.</p>
          </div>
          <div class="col-1 shadow-mt px-10 py-10 rounded-lg service">
            <div class="text-center">
              <g-image src="../assets/img/SVG/s2.svg" width="150" height="100" alt="design" class="services-img text-center mx-auto"/>
            </div>
            <div class="text-2xl font-bold mb-4 text-center subtitle">Responsive Design</div>
            <p>Mockups from Adobe Photoshop, Xd and Illustrator to a professional prototyping, adjusting your requirements and preferences to provide a very friendly and accurate design.</p>
          </div>
          <div class="col-1 shadow-mt px-10 py-10 rounded-lg service">
            <div class="text-center">
              <g-image src="../assets/img/SVG/s3.svg" width="150" height="100"  alt="custom" class="services-img text-center mx-auto"/>
            </div>
            <div class="text-2xl font-bold mb-4 text-center subtitle">Customs Templates</div>
            <p>Customization of Wordpress or CMS templates based on an existing one, we can reform a design that suits your needs. Without spoiling the structure of your site.</p>
          </div>
        </div>
    </div>
</template>