<template>
  <div class="layout" :class="theme">
    <Hero />
    <ClientOnly>
    <header id="header">
        <nav class="nav container flex flex-wrap items-center justify-between">
          <div>
            <g-link v-if="theme === 'theme-light'" to="/"><g-image src="../assets/img/logo.png" class="w-40" alt="logo" /></g-link>
            <g-link v-else to="/"><g-image src="../assets/img/logo.png" class="w-40" alt="logo" /></g-link>
          </div>
          <div class="block lg:hidden">
            <button @click="toggle" class="flex items-center px-3 py-2 rounded">
              <svg class="current-color h-5 w-5" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" class="btn-toggle" /></svg>
            </button>
          </div>
          <ul
          class="tracking-wide w-full block flex-grow lg:space-x-8 space-y-6 lg:space-y-0 lg:flex lg:flex-initial lg:w-auto items-center mt-8 lg:mt-0"
          :class="isOpen ? 'block': 'hidden'" >
          <li class="mb-6 lg:mb-0 ghost">
          </li>
          <li @click="toggle">
            <a v-if="$route.path === '/'" href="/#about" v-scroll-to="'#about'" class="text-copy-primary hover:text-gray-600">About</a>
            <g-link v-else to="/#about" class="text-copy-primary hover:text-gray-600">About</g-link>
          </li>
          <li @click="toggle">
            <a v-if="$route.path === '/'" href="/#services" v-scroll-to="'#services'" class="text-copy-primary hover:text-gray-600">Services</a>
            <g-link v-else to="/#services" class="text-copy-primary hover:text-gray-600">Services</g-link>
          </li>
           <li @click="toggle">
            <a v-if="$route.path === '/'" href="/#projects" v-scroll-to="'#projects'" class="text-copy-primary hover:text-gray-600">Projects</a>
            <g-link v-else to="/#projects" class="text-copy-primary hover:text-gray-600">Projects</g-link>
          </li>
          <li @click="toggle">
            <a v-if="$route.path === '/'" href="/#contact" v-scroll-to="'#contact'" class="text-copy-primary hover:text-gray-600">Contact</a>
            <g-link v-else to="/#contact" class="text-copy-primary hover:text-gray-600">Projects</g-link>
          </li>
          
          <li class="t-switcher" @click="toggle">
            <theme-switcher :theme="theme" @themeChanged="updateTheme"/>
          </li>
          </ul>
        </nav>
    </header>
    </ClientOnly>

    <div class="content-wrapper">
      <slot/>
    </div>

    <ClientOnly>
      <back-to-top class="btn-top" visibleoffset="600"><svg class="top" height="30" width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"/></svg></back-to-top>

      <a class="btn-wsp shadow-lg" href="https://api.whatsapp.com/send?phone=573007707838" rel="noopener noreferrer" target="_blank" title="Whasp me">
        <svg height="30px" width="30px" fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"/></svg>
      </a>
    </ClientOnly>

    <svg id="bg" style="background:transparent;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 169"><path class="f2" d="M0,984s472.5-154,987.5-14.8S1920,935.14,1920,935.14V1080H0Z" transform="translate(0 -911)"/></svg>
    <footer class="text-white">
      <div class="container mx-auto flex flex-col lg:flex-row items-center justify-between py-8">
        <div class="mb-8 lg:mb-0">
          <div>© {{ new Date().getFullYear() }}. Developed by Jesús Salcedo.</div>
        </div>
        <ul class="flex items-center space-x-8">
          <li>
            <a href="mailto:devjesg@gmail.com" class="text-white hover:text-gray-400" aria-label="Send me a email">
              <svg width="25" height="20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M2.5 0h20A2.5 2.5 0 0 1 25 2.5v15a2.5 2.5 0 0 1-2.5 2.5h-20A2.5 2.5 0 0 1 0 17.5v-15C0 1.125 1.125 0 2.5 0zm20 4.225V2.5h-20v1.725l10 5 10-5zm0 2.8l-9.438 4.713a1.25 1.25 0 0 1-1.124 0L2.5 7.025V17.5h20V7.025z" fill-rule="nonzero"/></svg>
            </a>
          </li>

          <li>
            <a href="https://dribbble.com/jesussg" target="_blank" rel="noopener noreferrer" class="text-white hover:text-gray-400" aria-label="My dribbble">
              <svg  height="20" width="20" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 8C119.252 8 8 119.252 8 256s111.252 248 248 248 248-111.252 248-248S392.748 8 256 8zm163.97 114.366c29.503 36.046 47.369 81.957 47.835 131.955-6.984-1.477-77.018-15.682-147.502-6.818-5.752-14.041-11.181-26.393-18.617-41.614 78.321-31.977 113.818-77.482 118.284-83.523zM396.421 97.87c-3.81 5.427-35.697 48.286-111.021 76.519-34.712-63.776-73.185-116.168-79.04-124.008 67.176-16.193 137.966 1.27 190.061 47.489zm-230.48-33.25c5.585 7.659 43.438 60.116 78.537 122.509-99.087 26.313-186.36 25.934-195.834 25.809C62.38 147.205 106.678 92.573 165.941 64.62zM44.17 256.323c0-2.166.043-4.322.108-6.473 9.268.19 111.92 1.513 217.706-30.146 6.064 11.868 11.857 23.915 17.174 35.949-76.599 21.575-146.194 83.527-180.531 142.306C64.794 360.405 44.17 310.73 44.17 256.323zm81.807 167.113c22.127-45.233 82.178-103.622 167.579-132.756 29.74 77.283 42.039 142.053 45.189 160.638-68.112 29.013-150.015 21.053-212.768-27.882zm248.38 8.489c-2.171-12.886-13.446-74.897-41.152-151.033 66.38-10.626 124.7 6.768 131.947 9.055-9.442 58.941-43.273 109.844-90.795 141.978z"/></svg>
            </a>
          </li>

          <li>
            <a href="https://behance.net/jesussg" rel="noopener noreferrer" target="_blank" class="text-white hover:text-gray-400" aria-label="My behance">
              <svg fill="currentColor" height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M232 237.2c31.8-15.2 48.4-38.2 48.4-74 0-70.6-52.6-87.8-113.3-87.8H0v354.4h171.8c64.4 0 124.9-30.9 124.9-102.9 0-44.5-21.1-77.4-64.7-89.7zM77.9 135.9H151c28.1 0 53.4 7.9 53.4 40.5 0 30.1-19.7 42.2-47.5 42.2h-79v-82.7zm83.3 233.7H77.9V272h84.9c34.3 0 56 14.3 56 50.6 0 35.8-25.9 47-57.6 47zm358.5-240.7H376V94h143.7v34.9zM576 305.2c0-75.9-44.4-139.2-124.9-139.2-78.2 0-131.3 58.8-131.3 135.8 0 79.9 50.3 134.7 131.3 134.7 61.3 0 101-27.6 120.1-86.3H509c-6.7 21.9-34.3 33.5-55.7 33.5-41.3 0-63-24.2-63-65.3h185.1c.3-4.2.6-8.7.6-13.2zM390.4 274c2.3-33.7 24.7-54.8 58.5-54.8 35.4 0 53.2 20.8 56.2 54.8H390.4z"/></svg>
            </a>
          </li>

          <li>
            <a href="https://gitlab.com/jesussg" rel="noopener noreferrer" target="_blank" class="text-white hover:text-gray-400" aria-label="My Gitlab">
              <svg fill="currentColor" height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M105.2 24.9c-3.1-8.9-15.7-8.9-18.9 0L29.8 199.7h132c-.1 0-56.6-174.8-56.6-174.8zM.9 287.7c-2.6 8 .3 16.9 7.1 22l247.9 184-226.2-294zm160.8-88l94.3 294 94.3-294zm349.4 88l-28.8-88-226.3 294 247.9-184c6.9-5.1 9.7-14 7.2-22zM425.7 24.9c-3.1-8.9-15.7-8.9-18.9 0l-56.6 174.8h132z"/></svg>
            </a>
          </li>
        </ul>
      </div>
    </footer>

  </div>
</template>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<script>
import ThemeSwitcher from '../components/ThemeSwitcher'
import Hero from '../components/Hero'

export default {
  components: {
    ThemeSwitcher,
    Hero
  },
  methods: {
    toggle() {
      this.isOpen = !this.isOpen
    },
    updateTheme(theme) {
      this.theme = theme
    }
  },
  mounted() {
    this.theme = localStorage.getItem('theme') || 'theme-light';

    //Scroll Handled
    document.addEventListener('scroll', () => {
    document.documentElement.dataset.scroll = window.scrollY;
    });

    const storeScroll = () => {
    document.documentElement.dataset.scroll = window.scrollY;
    };
    
    document.addEventListener('scroll', storeScroll);
    storeScroll();
  },
  data() {
    return {
      isOpen: false,
      theme: '',
      scrollPosition: null
    }
  },
  metaInfo: {
    title: 'Jesús Salcedo - Creative Web Developer',
    titleTemplate: 'Jesús Salcedo - Creative Web Developer',
    htmlAttrs: {
        lang: 'en',
        amp: true
    }
  },
  created() {
      //Change body Dinamically color
      //var layout = document.getElementById('app');
      //if (layout.matches('.theme-light'))
      //{
      //  document.body.style.background = "#fff";
      //}
      //if (layout.matches('.theme-dark')) {
      //  document.body.style.background = "#333"
      //}
  }
}


</script>

<style lang="scss" src="../assets/sass/main.scss" />

<style>
body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  margin:0;
  padding:0;
  line-height: 1.5;
}

.nav__link {
  margin-left: 20px;
}
</style>