@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*Global Styles*/

body {
  background-color: #fff;
}

.title {
  font-family: 'Open Sans';
}

.subtitle {
  font-family: 'Open Sans';
  font-size: 20px;
}

p {
  font-family: 'Montserrat';
}

nav ul li a {
  font-family: 'Montserrat';
}

.ghost {
  background: transparent;
  box-shadow: none;
}

.container {
    width: 100%;
    padding-right: 3em;
    padding-left: 3em;
    margin-right: auto;
    margin-left: auto;
}

.shadow-mt {
  box-shadow:0px 2px 10px rgba(0, 0, 0, 0.158)
}

.services-img {
  width: 150px;
  height: 100px;
  margin-bottom: 10px;
}

.projects-img {
  width: 100%;
  height: 250px;
  margin-bottom: 3em;
  object-fit: cover;
}

.projects-links {
  padding: 0;
}

.projects {
  overflow: hidden;
  height: 250px;
  width: 100%;
  transition: .5s;

  @media (max-width: 467px){
    height: 250px;
  }

}

.projects-content {
  background-color: #fff;
  color: #414141;
  transition: .5s;
}

.projects:hover {
  transform: translateY(-10px);
}

.projects:hover .projects-content {
  transform: translateY(-168px);

  @media (max-width: 467px){
    transform: translateY(-160px);
  }
}

.text-1xl {
  font-size: 18px;
}

.t-switcher {
  padding-bottom: 0;
  width: 17%;
  padding: 10px;
}

.form-control {
  border-radius: 15px;
  border: 1px solid #c4c4c4;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.btn-toggle {
  fill: #fff;
}

/*Theme Light*/
.theme-light {
    --bg-background-primary: white;
    --bg-background-secondary: #f7fafc;
    --bg-background-tertiary: #e2e8f0;
    --bg-background-form: white;
    --text-copy-primary: #2d3748;
    --text-copy-secondary: #4a5568;
    --border-border-color-primary: white;
  }
 
.theme-light body {
  background-color: #fff !important;
}

.theme-light header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background: transparent;
  }

.theme-light .title {
    color: #1c77df;
  }

  .theme-light .subtitle {
    color: #1c77df;
  }  

.theme-light .content-wrapper {
    color: #414141;
    background-color:#fff;
  }

.theme-light .code-text {
    color: #414141;
}

.theme-light p {
  color: #414141;
}

.theme-light nav ul li a {
  color:#fff;
}

.theme-light .s2 {
  background-color: #0762c9;
  color: #fff !important;
}

.theme-light .s2 p {
  color: #fff !important;
}

.theme-light .service {
  background-color:#fff;
}

.theme-light .top {
  fill: #fff;
}

.theme-light .projects-content {
  background-color: #fff;
}

.theme-light .projects-content .text-1xl {
  color: #414141;
}

.theme-light .form-control {
  border-radius: 12px;
  border: 1px solid #d6d6d6;
  background-color: #fff;
  color: #2e2e2e;
  transition: .2s;
}

.theme-light .form-control:hover {
  background-color: #f0f0f0;
}

.theme-light .btn-toggle {
  fill:#fff;
}


/*Theme Dark*/

.theme-dark {
    --bg-background-primary: #0D2438;
    --bg-background-secondary: #102C44;
    --bg-background-tertiary: #1E3951;
    --bg-background-form: #1a202c;
    --text-copy-primary: #cbd5e0;
    --text-copy-secondary: #e2e8f0;
    --border-border-color-primary:  #1a202c;
  }

.theme-dark body {
  background-color: #333333 !important;
}  

.theme-dark header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color:transparent;
}

.theme-dark .title {
    color: #3691f8;
  }

  .theme-dark .subtitle {
    color: #3691f8;
  }

.theme-dark .content-wrapper {
    color: #fff;
    background-color:#333333;
  }

.theme-dark .code-text {
    color: #fff;
}

.theme-dark p {
  color: #fff;
}

.theme-dark nav ul li a {
  color:#fff;
}

.theme-dark .s2 {
  background-color: #0762c9;
  color: #fff !important;
}

.theme-dark .service {
  background-color:#424242;
}

.theme-dark .top {
  fill: #333333;
}

.theme-dark .projects-content {
  background-color: #333333;
}

.theme-dark .projects-content .text-1xl {
  color: #fff;
}

.theme-dark .form-control {
  border-radius: 12px;
  border: 1px solid #888888;
  background-color: #555555;
  color: #ffffff;
  transition: .2s;
}

.theme-dark .form-control:hover {
  background-color: #444444;
}

.theme-dark .btn-toggle {
  fill:#fff;
}

/*Responsive*/

@media (max-width: 467px){
  header nav li {
    background-image: linear-gradient(to right, #53A0F8 0%, #0e6fdf 80%);
    padding: 10px;
    width: 60%;
    text-align: center;
    border-radius: 50px;
    box-shadow:0px 2px 10px rgba(0, 0, 0, 0.096)
  }
}


/*Smart CSS*/
html:not([data-scroll='0']) {

  .theme-light header {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    background-color:#fff;
  }

  .theme-dark header {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    background-color: #333333;
  }

  .theme-light nav ul li a {
    color:#414141;
  }
  
  .theme-light nav ul li a:hover {
    color:#1c77df;
  }
  
  .theme-dark nav ul li a {
    color: #fff;
  }
  
  .theme-dark nav ul li a:hover {
    color:#3691f8;
  }

  .theme-light .btn-toggle {
    fill:#3691f8;
  }

  .theme-dark .btn-toggle {
    fill:#3691f8;
  }

  header nav li {
    @media (max-width: 467px) {
    background: none;
    width: 0;
    text-align: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    }
  }

  .t-switcher {
    @media (max-width: 467px) {
      padding-bottom: 2em;
      width: 0;
    }
  }

}



/*Footer styles*/
.f2 {
  fill: #0762c9;
}

.theme-light .f1 {
  fill: #fff;
}


.theme-dark .f1 {
  fill: #333333;
}

/*Footer*/

footer{
  background-color: #0762c9;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

footer .copyright {
  font-size: 14px;
}

.footer-bg {
fill: #3e8ddb;
}


footer hr {
  border-top: 1px solid rgba(255, 254, 254, 0.1) !important;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #d4d4d4; 
}
 
::-webkit-scrollbar-thumb {
  background: #0558b8; 
}

::-webkit-scrollbar-thumb:hover {
  background: #074b99;
}

/*Buttons*/
.btn-orange {
  color: #fff;
  background-image: linear-gradient(to right, #f3b01e 0%, #df960e 80%);
  padding: 10px 20px;
  /*border-radius: 50px;*/
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  font-family: 'Montserrat', sans-serif!important;
  font-weight: 300;
  font-size: 14px;
  transition: all .6s 0s;
  border: none;
  /*display: inline-block;*/
  background-size: 200% auto;
  margin-right: 1em;
  margin-top: 2.5em;
}

.btn-orange:hover {
  color: #fff;
  background-position: right center; 
  transition: all 0.4s ease 0s;
  box-shadow: 0px 10px 15px rgba(128, 128, 128, 0.4);
  transform: translateY(-2px);
}

.btn-blue {
  color: #fff;
  background-image: linear-gradient(90deg,#53a0f8 0,#0e6fdf 80%);
  padding: 10px 20px;
  /*border-radius: 50px;*/
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 300;
  font-size: 14px;
  transition: all .6s 0s;
  border: none;
  /*display: inline-block;*/
  background-size: 200% auto;
  margin-right: 1em;
  margin-top: 2.5em;
}

.btn-blue:hover {
  color: #fff;
  background-position: right center; 
  transition: all 0.4s ease 0s;
  box-shadow: 0px 10px 15px rgba(128, 128, 128, 0.4);
  transform: translateY(-2px);
}

.btn-secundary {
  color: #0e6fdf;
  /*background-image: linear-gradient(90deg,#53a0f8 0,#0e6fdf 80%);*/
  padding: 10px 20px;
  /*border-radius: 50px;*/
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 300;
  font-size: 14px;
  transition: all .6s 0s;
  border: 2px solid #0e6fdf;
  background-color: transparent;
  /*display: inline-block;*/
  background-size: 200% auto;
  margin-right: 1em;
  margin-top: 2.5em;
}

.btn-secundary:hover {
  color: #fff;
  background-image: linear-gradient(90deg,#53a0f8 0,#0e6fdf 80%);
  background-position: right center; 
  transition: all 0.4s ease 0s;
  box-shadow: 0px 10px 15px rgba(128, 128, 128, 0.4);
  transform: translateY(-2px);
}

.btn-link {
  color: #fff;
  background-image: linear-gradient(to right, #53A0F8 0%, #0e6fdf 80%);
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 14px;
  transition: all 0.6s 0s;
  border:none;
  display: inline-block;
  background-size: 200% auto;
  margin-left: 4px;
  margin-right: 4px;
}

.btn-link:hover {
  color: #fff;
  background-position: right center; 
  transition: all 0.4s ease 0s;
}

.btn-top {
  background-color: #0762c9;
  color: #fff;
  border-radius: 50px;
  padding: 8px;
  transition: .2s;
  bottom: 8em !important;
  position: fixed;
  cursor: pointer;
  @media (max-width: 467px){
    right: 1em !important;
  }
}

.btn-top:hover {
  background-color: #0753aa;
}

.btn-wsp {
  background-color: #4fce5d;
  padding: 12px;
  position: fixed;
  right: 2em;
  bottom: 3em;
  border-radius: 50%;
  transition: .2s;

  @media (max-width: 467px){
    right: 1em;
  }

}

.btn-wsp:hover {
  background-color: #1bac2c;
}